@media (max-width: 450px){
    body {
        width: auto;
    }

    #cabecalho {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    #cabecalho svg {
        margin-top: 100%;
        width: 60%;
    }

    .imagem-perfil {
        position:static;
        width: max-content;
        margin: 0 auto;
        max-width: 100%;
    }

    .imagem-perfil img {
        width: 250px;
    }

    .textos-cabecalho {
        margin: 2em auto;
        width: max-content;
        max-width: 90%;
        height: max-content;
    }

    .textos-cabecalho h1 {
        font-size: 45px;
        text-align: center;
        margin: 0;
    }

    .textos-cabecalho p {
        text-align: center;
    }

    .svgcirculo {
        width: 220PX;
        margin-top: 2em;
        z-index: 4;
    }

    /* section Ferramentas */

    #ferramentas{
        margin-top: 50%;
    }

    /* Projetos */

    .projetos-header  h1{
        font-size: 40px;
    }

    .container-projetos{
        width: 350px;
        height: max-content;
    }

    .container-fotos {
        width: 350px;
        margin-left: 0;
        margin-right: 0;
    }
}